body {
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}
a {
  display: flex;
  justify-content: space-around;
  color: rgb(71, 137, 139);
}
